<div class="col-6 col-md-4 col-lg-3 mb-4 p-2">
    <a href="/report/{{id}}" class="d-block col-12 p-2 border border-primary">
        <div class="image_wrapper mb-2">
            <img class="image" class="w-100" src="{{firstImage.imagePath}}" alt="{{name}}"
                onerror="this.src='/img/logo.svg';" />
        </div>
        {{{createStarList averageRating}}}
        <p class="text-bold text-primary text-center mb-0 mt-3">{{name}}</p>
    </a>
</div>