<!-- Form Start -->
{{#with userProfile}}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12">
            <div class="bg-light rounded h-100 p-4">
                <h5 class="mb-4">Thông Tin Cơ Bản</h5>
                <div class="showInfo">
                    <div class="row mb-3 avatar">
                        <img id="profileAvatar" src="{{avatarPath}}" onerror="this.src='/img/logo.svg';" />
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-xl-2">Tên Tài Khoản: </div>
                        <div class="col-9 col-xl-10 fw-bold" id="profileName">{{name}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-xl-2">Điện Thoại: </div>
                        <div class="col-9 col-xl-10 fw-bold">{{phone}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-xl-2">Email: </div>
                        <div class="col-9 col-xl-10 fw-bold">{{email}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-xl-2">Địa Chỉ: </div>
                        <div class="col-9 col-xl-10 fw-bold" id="profileAddress">{{address}}</div>
                    </div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#showEditProfile">
                        Sửa Thông Tin
                    </button>
                </div>

                <!--Edit Profile Modal -->
                <div class="modal fade" id="showEditProfile" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form class="modal-content" id="editProfileForm">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Sửa Thông Tin Tài Khoản</h5>
                                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="licenseImage" class="form-label">Ảnh đại diện</label>
                                    <input class="form-control" type="file" id="avatarImage" name="avatarImage">
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="name" class="form-control" value="{{name}}" name="name" id="name"
                                        placeholder="Tên Tài Khoản">
                                    <label for="name">Tên Tài Khoản</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="name" class="form-control" value="{{address}}" name="address"
                                        id="address" placeholder="Địa chỉ">
                                    <label for="name">Địa chỉ</label>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="isChangePassword"
                                        name="isChangePassword" onChange="passWordToggle()">
                                    <label class="form-check-label" for="isChangePassword">Đổi Password</label>
                                </div>
                                <div class="d-none" id="changePasswordBox">
                                    <div class="form-floating mb-4">
                                        <input type="password" class="form-control" name="password" id="password"
                                            placeholder="Mật khẩu">
                                        <label for="password">Mật khẩu</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="password" class="form-control" name="confirmPassword"
                                            id="confirmPassword" placeholder="Xác nhận mật khẩu">
                                        <label for="confirmPassword">Xác nhận mật khẩu</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    id="closeEditProfileModal">Đóng</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Edit Profile Modal -->
            </div>
        </div>
        {{#if Charity}}
        <div class="col-sm-12">
            <div class="bg-light rounded h-100 p-4">
                <h5 class="mb-4">Thông Tin Tổ Chức</h5>
                <div class="showInfo">
                    <div class="row mb-3">
                        <div class="col-3 col-xl-2">Người Đại Điện: </div>
                        <div class="col-9 col-xl-10 fw-bold" id="profileName">{{Charity.representative}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-xl-2">Ngày Thành Lập: </div>
                        <div class="col-9 col-xl-10 fw-bold">{{dateFormat Charity.establishedDate}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-xl-2">Merchant ID: </div>
                        <div class="col-9 col-xl-10 fw-bold">{{Charity.merchantAppID}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-xl-2">Merchant Key1: </div>
                        <div class="col-9 col-xl-10 fw-bold text-break">{{Charity.merchantKey1}}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-xl-2">Merchant Key2: </div>
                        <div class="col-9 col-xl-10 fw-bold text-break">{{Charity.merchantKey2}}</div>
                    </div>
                    <h6 class="col-3 col-xl-2 mt-4">Giấy Phép: </h6>
                    <div class="row mb-3 avatar">
                        <img class="col-9 col-xl-10 fw-bold" src="{{Charity.License.imgPath}}" />
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>
{{/with}}

<!-- Form End -->

<script>
    function passWordToggle() {
        const isChangePassword = document.getElementById("isChangePassword");
        const changePassBox = document.getElementById("changePasswordBox");

        if (!isChangePassword.checked) {
            changePassBox.classList.add("d-none")
        } else {
            changePassBox.classList.remove("d-none")

        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('editProfileForm').addEventListener('submit', function (event) {
            event.preventDefault();

            let formErrors = document.getElementById('formErrors')
            if (formErrors) {
                formErrors.remove()
            }

            const formData = new FormData(this)

            fetch('/user/profile', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    return response.json()
                })
                .then(result => {
                    if (result.errors) {

                        let messages = ''
                        result.errors.forEach(error => {
                            messages += `<p>${error.msg}</p>`
                        })
                        formErrors = document.createElement('div')
                        formErrors.classList = 'col md-12 alert alert-warning mt-3'
                        formErrors.id = "formErrors"
                        formErrors.innerHTML = messages
                        document.getElementById('editProfileForm').appendChild(formErrors);

                    } else {
                        document.getElementById("profileName").textContent = result.data.user.name
                        document.getElementById("profileAddress").textContent = result.data.user.address
                        if (result.data.user.avatarPath) {
                            document.getElementById("profileAvatar").src = result.data.user.avatarPath
                        }

                        document.getElementById("closeEditProfileModal").click()
                    }
                })
                .catch(error => {
                    console.error('Error:', error)
                })
        })
    })
</script>