<div class="container p-4 rounded">
    <h4 class="mb-4">Đóng góp cho chiến dịch: {{campaign.name}}</h4>
    <form id="transferForm" class="form-horizontal">
        <input type="hidden" name="campaignID" value="{{campaign.id}}">
        <h5 class="mb-3">Thông tin chiến dịch</h5>
        <div class="row mb-3">
            <div class="col-md-4">Tên chiến dịch:</div>
            <div class="col-md-8">{{campaign.name}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">Tên tổ chức từ thiện:</div>
            <div class="col-md-8">{{campaign.Charity.User.name}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">Ngân sách dự kiến:</div>
            <div class="col-md-8">{{formatAmount campaign.budget}} VNĐ</div>
        </div>
        <h5 class="mb-3">Phương thức thanh toán</h5>
        <div class="form-group mb-3">
            <label for="paymentMethod">Chọn phương thức</label>
            <select id="paymentMethod" name="paymentMethodID" class="form-select" required>
                <option value="">-- Chọn phương thức --</option>
                {{#each paymentMethods}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="amount">Số tiền đóng góp</label>
            <input type="number" id="amount" name="amount" min="0" class="form-control" required>
        </div>
        <div class="form-group mb-3">
            <label for="message">Tin nhắn</label>
            <textarea name="message" id="message" rows="3" class="form-control"
                placeholder="Nhập tin nhắn cho đóng góp của bạn"></textarea>
        </div>

        <button type="button" class="btn btn-primary" onclick="showTransferModal()">Xác nhận đóng góp</button>
        <div class="rows" id="transferError"></div>
    </form>
</div>
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận đóng góp cho: {{campaign.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Số tiền:</strong> <span id="confirmAmount"></span></p>
                <p><strong>Phương thức thanh toán:</strong> <span id="confirmPaymentMethod"></span></p>
                <p><strong>Tin nhắn:</strong> <span id="confirmMessage"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="submitTransfer()">Xác nhận đóng góp</button>
            </div>
        </div>
    </div>
</div>
<script>
    function showTransferModal() {
        const amount = document.getElementById("amount").value
        const message = document.getElementById("message").value
        const paymentMethodSelect = document.getElementById("paymentMethod")
        const paymentMethod = paymentMethodSelect.options[paymentMethodSelect.selectedIndex].text

        document.getElementById("confirmAmount").textContent = amount
        document.getElementById("confirmPaymentMethod").textContent = paymentMethod
        document.getElementById("confirmMessage").textContent = message


        const transferModal = new bootstrap.Modal(document.getElementById("transferModal"))
        transferModal.show()

    }
    function submitTransfer() {
        resetFormErrors()
        const form = document.getElementById("transferForm")
        const formData = new FormData(form)
        const data = JSON.stringify(Object.fromEntries(formData.entries()))
        fetch(`/transaction/transfer`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: data
        })
            .then(response => response.json())
            .then(result => {
                if (!result.errors) {
                    window.location.href = result.redirectUrl
                } else {
                    displayFormErrors(result.errors)

                    const modalElement = document.querySelector("#transferModal")
                    if (modalElement) {
                        const modal = bootstrap.Modal.getInstance(modalElement) || new bootstrap.Modal(modalElement)
                        modal.hide()

                    }
                }
            })
            .catch(error => console.error('Error:', error))
    }
    function displayFormErrors(errors) {
        let messages = ''
        errors.forEach(error => { messages += `<p>${error.msg}</p>` })
        const formErrors = document.createElement('div')
        formErrors.classList = 'alert alert-warning mt-3'
        formErrors.innerHTML = messages
        document.getElementById('transferError').appendChild(formErrors)
    }
    function resetFormErrors(errors) {
        document.getElementById('transferError').innerHTML = ''
    }

</script>