<div class="rows m-3">
    <h4>Chiến Dịch Từ Thiện</h4>
</div>
<div class="row m-3">
    <div class="col-4">
        <img class="w-100 h-auto" src="{{campaign.firstImage.imagePath}}" alt="">
    </div>
    <div class="rows col-8 text-dark">
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Chiến dịch</div>
            <div class="col-8">{{campaign.name}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Địa điểm</div>
            <div class="col-8">{{campaign.location}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Ngày bắt đầu</div>
            <div class="col-8">{{dateFormat campaign.startDate}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Ngày kết thúc</div>
            <div class="col-8">{{dateFormat campaign.endDate}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Tổ chức từ thiện</div>
            <div class="col-8">{{campaign.Charity.User.name}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Ngân sách dự kiến</div>
            <div class="col-8">{{formatAmount campaign.budget}} VNĐ</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Tình trạng</div>
            <div class="col-8">{{campaignStatusText campaign.status}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Đánh Giá</div>
            <div class="col-8">{{roundToOneDecimal campaign.averageRating}}/5 <i class="fas fa-star text-warning"></i></div>
        </div>
    </div>
</div>
<div class="row m-3">
    <div class="col-4">
    </div>
    <div class="rows col-8 text-dark d-flex justify-content-between">
        <a class="btn reportButton statementBtn" href="/report/statement/{{campaign.id}}">SAO KÊ</a>
        {{#if user.permission.donate.all}}
        <a class="btn btn-success fw-bold reportButton donateBtn" href="/transaction/transfer?campaignID={{campaign.id}}">
            ĐÓNG GÓP
        </a>
        {{/if}}
    </div>
</div>
<div class="row m-3">
    <div class="col-12 fw-bolder text-white d-flex">
        <div class="campaign_more_info_container col-12 fw-bolder text-white d-flex justify-content-around px-0"
            id="campaign_more_info_tags">
            <button class="w-100 btn btn-info text-white campaign_more_info_tag" type="button"
                data-content="#descriptionContent">
                Mô Tả
            </button>
            <button class="w-100 btn btn-info text-white campaign_more_info_tag" type="button"
                data-content="#reviewContent">
                Đánh Giá
            </button>
            <button class="w-100 btn btn-info text-white campaign_more_info_tag" type="button"
                data-content="#commentContentBox">
                Bình Luận
            </button>
        </div>
    </div>
    <div class="col-12" id="moreDetailContent">
        <div id="descriptionContent" class="collapse border border-dark p-2 show">
            {{{nToBr campaign.description}}}
        </div>
        <div id="reviewContent" class="collapse border border-dark p-2">
            {{#if user.permission.report.rating}}
            {{#unless userReview}}
            <div class="col-12 my-3" id="showReviewModal">
                <button type="button" class="btn btn-success reviewContentSubmit" data-bs-toggle="modal"
                    data-bs-target="#reviewModal">
                    Thêm Đánh Giá Của Bạn
                </button>
            </div>
            {{>reviewModal}}
            {{/unless}}
            {{/if}}
            <div id="reviewContainer">
                {{#each campaign.Reviews}}
                <div class="row col-12 my-2">
                    <div class="col-1">
                        <img class="w-100 px-1" src="{{User.avatarPath}}" onerror="this.src='/img/logo.svg';" />
                    </div>
                    <div class="rows col-11">
                        <div class="fw-bold text-dark">{{User.name}}</div>
                        <div>{{{createStarList rating}}}</div>
                        <div>{{message}}</div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
        <div id="commentContentBox" class="collapse border border-dark p-2">
            <form class="rows col-12 my-3 d-flex" onsubmit="submitComment(event)">
                <textarea class="form-control" name="commentContent" id="commentContent" rows="2"></textarea>
                <button type="submit" class="btn btn-success commentContentSubmit col-1 ms-1">Gởi</button>
            </form>
            <div id="commentContainer">
                {{#each campaign.Comments}}
                <div class="row col-12 mb-2">
                    <div class="col-1">
                        <img class="w-100 px-1" src="{{User.avatarPath}}" onerror="this.src='/img/logo.svg';" />
                    </div>
                    <div class="rows col-11">
                        <div class="fw-bold text-dark">{{User.name}}</div>
                        <div>{{{nToBr content}}}</div>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
</div>

<script>
    document.querySelector("#campaign_more_info_tags").addEventListener("click", (event) => {
        const campaignMoreInfoTag = event.target.closest(".campaign_more_info_tag")
        if (campaignMoreInfoTag) {
            document.querySelectorAll(".campaign_more_info_tag").forEach((tag) => {
                tag.classList.remove("active")
            })
            document.querySelectorAll("#moreDetailContent .collapse").forEach((tag) => {
                tag.classList.remove("show")
            })

            campaignMoreInfoTag.classList.add("active")
            contentId = campaignMoreInfoTag.dataset.content
            document.querySelector(contentId).classList.add("show")
        }

    })
    const submitComment = (event) => {
        event.preventDefault();
        const contentDom = event.target.querySelector('textarea[name="commentContent"]')
        if (!contentDom.value) {
            contentDom.focus()
            return
        }

        const formData = new FormData(event.target)
        formData.append("campaignID", "{{ campaign.id }}")
        formData.append("userID", "{{ user.id }}")

        const data = JSON.stringify(Object.fromEntries(formData.entries()));

        fetch('/report/comment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: data
        })
            .then(response => {
                return response.json()
            })
            .then(data => {
                contentDom.value = ""
                contentDom.focus()

            })
            .catch(error => {
                console.error('Error:', error)
            })
    }

    eventWS.registerListener('campaignCreatedReviewEvent', 'reportDetails', (payload) => {
        const { newReview } = payload

        if (newReview.Campaign.id == "{{campaign.id}}") {
            let newReviewDom = document.createElement("div")
            newReviewDom.className = "row col-12 my-2"
            newReviewDom.innerHTML = `
            <div class="col-1">
                <img class="w-100 px-1" src="${newReview.User.avatarPath}" onerror="this.src='/img/logo.svg';" />
            </div>
            <div class="rows col-11">
                <div class="fw-bold text-dark">${newReview.User.name}</div>
                <div>${createStarList(parseInt(newReview.rating))}</div>
                <div>${newReview.message}</div>
            </div>
        `
            document.querySelector("#reviewContainer").prepend(newReviewDom)

            document.querySelector("#showReviewModal")?.remove()
            const modalElement = document.querySelector("#reviewModal")
            if (modalElement) {
                const modal = bootstrap.Modal.getInstance(modalElement) || new bootstrap.Modal(modalElement)
                modal.hide()
                modalElement.addEventListener('hidden.bs.modal', () => {
                    modalElement.remove();
                });
            }

        }

    })

    eventWS.registerListener('campaignCreatedCommentEvent', 'reportDetails', (payload) => {
        const { newComment } = payload

        if (newComment.Campaign.id == "{{campaign.id}}") {
            let newCommentDom = document.createElement("div")
            newCommentDom.className = "row col-12 mb-2"
            newCommentDom.innerHTML = `
            <div class="col-1">
                <img class="w-100 px-1" src="${newComment.User.avatarPath}" onerror="this.src='/img/logo.svg';" />
            </div>
            <div class="rows col-11">
                <div class="fw-bold text-dark">${newComment.User.name}</div>
                <div>${newComment.content.replace(/\n/g, "<br>")}</div>
            </div>
        `
            document.querySelector("#commentContainer").prepend(newCommentDom)
        }
    })

</script>