{{#with charity}}
<div class="rows m-3">
    <h4>Chi tiết tổ chức từ thiện</h4>
</div>
<div class="row m-3">
    <div class="col-4">
        <img class="w-100 h-auto" src="{{User.avatarPath}}" alt="{{User.name}}" onerror="this.src='/img/logo.svg';">
    </div>
    <div class="rows col-8 text-dark">
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Tổ chức: </div>
            <div class="col-8">{{User.name}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Người đại diện: </div>
            <div class="col-8">{{representative}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Số điện thoại: </div>
            <div class="col-8">{{User.phone}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Email: </div>
            <div class="col-8">{{User.email}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Địa chỉ: </div>
            <div class="col-8">{{User.address}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Tình trạng: </div>
            <div class="col-8">{{convertUserStatus User.status}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Ngày thành lập: </div>
            <div class="col-8">{{dateFormat establishedDate}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Đánh Giá: </div>
            <div class="col-8">{{roundToOneDecimal averageCharityRating}}/5 <i class="fas fa-star text-warning"></i>
            </div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Giấy phép hoạt động số: </div>
            <div class="col-8">{{License.name}}</div>
        </div>
        <div class="row col-12 mt-2">
            <div class="col-4 fw-bold">Mô tả: </div>
            <div class="col-8">{{description}}</div>
        </div>
    </div>
</div>
<div class="row m-3">
    <div class="col-4">
    </div>
    <div class="rows col-8 text-dark d-flex justify-content-between">
        <a class="btn rejectButton statementButton " href="#" onclick="rejectCharity('{{User.id}}')">TỪ CHỐI</a>
        <a class="btn approveButton statementButton" href="#" onclick="approveCharity('{{User.id}}')">CHẤP NHẬN</a>
    </div>
</div>
<div row m-3>
    <div class="col-12">
        <img class="license-img" src="{{License.imgPath}}" alt="" onerror="this.src='/img/logo.svg';">
    </div>
</div>
{{/with}}

<script>
    function approveCharity(userId) {
        const confirmation = confirm("Bạn có chắc chắn muốn chấp nhận tổ chức từ thiện này?");
        if (confirmation) {
            fetch(`/charity-verification/charities/approve/${userId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => {
                    if (response.ok) {
                        alert('Tổ chức từ thiện đã được chấp nhận!');
                        window.location.href = "/charity-verification";
                    } else {
                        alert('Có lỗi xảy ra khi chấp nhận tổ chức từ thiện.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        } else {
            return;
        }
    }
</script>

<script>
    function rejectCharity(userId) {
        const confirmation = confirm("Bạn có chắc chắn muốn từ chối tổ chức từ thiện này?");
        if (confirmation) {
            fetch(`/charity-verification/charities/reject/${userId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => {
                    if (response.ok) {
                        alert('Tổ chức từ thiện bị từ chối do thông tin không hợp lệ.!');
                        window.location.href = "/charity-verification";
                    } else {
                        alert('Có lỗi xảy ra khi từ chối tổ chức từ thiện.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        } else {
            return;
        }
    }
</script>