<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <h4>user.permission.report.rating</h4>
    {{#if user.permission.report.rating}}
    <p>you can rating</p>
    {{else}}
    <p>you can not rating</p>
    {{/if}}

    <h4>user.permission.user.verifyLicense</h4>
    {{#if user.permission.user.verifyLicense}}
    <p>you can verifyLicense</p>
    {{else}}
    <p>you can not verifyLicense</p>
    {{/if}}

    <h4>user.permission.campaign.all</h4>
    {{#if user.permission.campaign.all}}
    <p>you can campaign all</p>
    {{else}}
    <p>you can not campaign all</p>
    {{/if}}

    <h4>user.permission.donate.all</h4>
    {{#if user.permission.donate.all}}
    <p>you can donate all</p>
    {{else}}
    <p>you can not donate all</p>
    {{/if}}

    <h4>user.permission.news.create</h4>
    {{#if user.permission.news.create}}
    <p>you can news create</p>
    {{else}}
    <p>you can not news create</p>
    {{/if}}

    <h4>user.permission.transaction.all</h4>
    {{#if user.permission.transaction.all}}
    <p>you can transaction all</p>
    {{else}}
    <p>you can not transaction all</p>
    {{/if}}
</div>
<!-- Form End -->